
/* Variables de color para Dark Mode & Light Mode */
:root {
    --bg-color-dark: #000000;
    --text-color-dark: #ffffff;
    --sidebar-bg-dark: #2c2c2c;
    --border-color-dark: #4a4a4a;
  
    --bg-color-light: #ffffff;
    --text-color-light: #000000;
    --sidebar-bg-light: #f2f2f2;
    --border-color-light: #f2f2f2;
  }
  
  /* General Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
  }
  
  body.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    cursor: pointer;
    border: none;
  }
  
  /* Layout general para la página */
.layout {
    display: grid;
    margin-top: 72px;
    grid-template-columns: 200px 1fr; /* Sidebar y contenido principal */
    width: 100%;
    min-height: calc(100vh - 72px); /* Para dar espacio al header fijo */
  }
  
  /* Estilos para el contenido principal */
  .main-content {
    grid-column: 2; /* Asegura que ocupe la segunda columna de la grid */
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    .layout {
      grid-template-columns: 1fr; /* Elimina la barra lateral en pantallas pequeñas */
    }
  }
/* Estilo general para los círculos difuminados */
.blur-circle {
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(167, 92, 239, 0.3) 0%, rgba(167, 92, 239, 0.1) 60%, rgba(167, 92, 239, 0) 100%);
  filter: blur(100px); /* Aumentamos el blur para un efecto más suave */
  border-radius: 50%; /* Mantener la forma circular */
  opacity: 1;
}

/* Círculo 1 con su propio color */
.circle1 {
  top: 10%;
  left: 10%;
  background: radial-gradient(circle, rgba(167, 92, 239, 0.3) 0%, rgba(167, 92, 239, 0.1) 60%, rgba(167, 92, 239, 0) 100%);
}

/* Círculo 2 con su propio color */
.circle2 {
  top: 20%;
  left: 60%;
  background: radial-gradient(circle, rgba(239, 82, 145, 0.3) 0%, rgba(239, 82, 145, 0.1) 60%, rgba(239, 82, 145, 0) 100%);
}

/* Círculo 3 con su propio color */
.circle3 {
  top: 65%;
  left: 30%;
  background: radial-gradient(circle, rgba(82, 145, 239, 0.3) 0%, rgba(82, 145, 239, 0.1) 60%, rgba(82, 145, 239, 0) 100%);
}
