---
// MainLayout.astro
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro"; 
const { Content } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>Portfolio - Tatiana M.</title>
  </head>
  <body class="dark-mode">
    <Header />

    <div class="layout">
      <Navbar />
      <!-- Aquí corregimos el uso de Navbar -->
      <main class="main-content">
        <slot />
        <!-- Aquí se mostrará el contenido dinámico -->
        <div class="blur-overlay"></div>
      </main>
    </div>
    <div class="blur-circle circle1"></div>
    <div class="blur-circle circle2"></div>
    <div class="blur-circle circle3"></div>

    <script src="/src/scripts/themeToggle.js"></script>
    <script src="/src/scripts/navbarToggle.js"></script>
  </body>
</html>
